.custom-navbar {
    background-color: rgb(186 237 232) !important;
  }
  .custom-navbar .nav-link {
    color: rgb(26, 55, 72) !important;
    font-family: "Mitr", sans-serif;
  }

  .globe-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  